body {
    background-color: rgb(39, 37, 37);
    padding: 0;
    margin: 0;

    font-family: Arial, sans-serif;
    color: white; /* Text color, since background is black */
}

.top-bar {
    background-color: black;
    border-radius: 5px;
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    position: absolute; 
    top: 0; 
    right: 0; 
    margin: 10px; 
    padding: 10px;
}

.top-bar button {
    background-color: blue;
    border-radius: 5px;
    padding: 5px;
    color: white;
    width: 4rem;
    height: 2rem;
}

.container {
    position: fixed;
    margin: auto;
    inset: 0px;
    width: fit-content; 
    height: fit-content;       
    background-color: rgb(2,2,2); 
    text-align: center;   
    border-radius: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    background-color: black;
    text-align: center;
}
